<div class="subscribe">
  <form action="https://buttondown.com/api/emails/embed-subscribe/jkeltner" method="post" class="subscribe-form">
    <label for="subscribe-email" class="subscribe-label">Get new posts by email</label>
    <div class="subscribe-row">
      <input type="email" name="email" id="subscribe-email" placeholder="you@example.com" autocomplete="email" required>
      <input type="hidden" name="embed" value="1">
      <button type="submit">Subscribe</button>
    </div>
  </form>
</div>
