// Typography
$base-font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$heading-font-family: "Oswald", $base-font-family;
$base-font-weight: 400;

// Colors
$navy:               #044389;
$bright-blue:        #0496FF;
$gold:               #F6AE2D;

$brand-color:        $bright-blue;
$brand-color-light:  lighten($bright-blue, 30%);
$brand-color-dark:   $navy;
$text-color:         #2d3748;
$background-color:   #fdfdfd;
$border-color-01:    #e2e8f0;

// Layout
$content-width:      840px;
